.sidebar {
  width: 100px;
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  background-color: white;
  border-right-width: 1px;
  border-right-color: rgb(215, 215, 215);
  border-right-style: solid;
  padding-top: 50px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 20px;
}

.sidebar-link:hover {
  background-color: rgb(236, 236, 236);
}

.sidebar-link img {
  height: 40px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-family: Arial;
  font-size: 13px;
}
